<div class="jumbotron">
  <h1>Welcome to Traveled</h1>
  <h4>Your Digital Travel Bookshelf</h4>
</div>
<!-- <p>Store all the places you've traveled and all the activities you've done. Even rank them to remind yourself of all the cool things you've done. Or share with friends as they plan their trips!</p> -->

<div class="col-sm-6">
  <% if @current_user.present? %>

    <h2>Did You Visit a New City?</h2>
    <form action="/cities" method="post" class="form-group">
      <label class="form-text text-muted">Enter it here:</label>
      <input type="text" name="city[name]" placeholder="Hong Kong" class="form-control">
      <br>
      <button class="btn btn-primary">Add Your New City</button>
    </form>
</div>


<div class="col-sm-6">
  <h2>Your Cities!</h2>
  <p>Click to view your activities</p>

    <div class="list-group">

      <% @current_user.cities.each do |city| %>
        <h4 class="list-group-item">
          <%= link_to city.name, city_path(city.id) %>
        </h4>
      <% end %>
    </div>
  <% end %>
</div>
