<h1>Home Page</h1>

<% if @current_user.present? %>
  Welcome Back <%= @current_user.email %>
  <h2>Your Cities!</h2>
  <p>Ranked in order of your favorites</p>
  <ol>
    <li> <a href="#">city 1</a> (click for the things you did in that city)</li>
  </ol>
  <h2>Did you visit a new city?</h2>



  <form action="/cities" method="post">
    <label>City:</label>
    <input type="text" name="city[name]" placeholder="Hong Kong">
    <button>Add Your New City</button>



<% end %>
