<div class="jumbotron">
<h1><%= @city.name %></h1>

</div>

<div class="col-sm-6">
  <h2>What did you do in <%= @city.name %>?</h2>
  <form action="/activities" method="post" class="form-group">
    <label class="form-text text-muted">Activity:</label>
    <input class="form-control" type="text" name="activity[activity1]" placeholder="Mission Beach Surf School" >
    <br>
    <button class="btn btn-primary">Add Activity</button>
  </form>

  <br>

</div>

<div class="col-sm-6">
  <h2>Your <%= @city.name %> Activities</h2>
  <p>Click for more details</p>

  <div class="list-group">



    <h4>
      <div class="list-group-item"> <a href="#">1. Sample Activity</a></div>
    </h4>

  </div>
</div>
