<div class="jumbotron">
<h1><%= @activity.event %></h1>
</div>

<div class="col-sm-6">
  <h1>Comming Soon:</h1>
  <h3>Details About Your Activity</h3>
  <form >
    <label class="form-text text-muted">Date:</label>
    <input class="form-control" type="text" name="activity[event]" placeholder="Jan 12" >

    <label class="form-text text-muted">People:</label>
    <input class="form-control" type="text" name="activity[event]" placeholder="Family" >

    <label class="form-text text-muted">Pictures:</label>
    <input class="form-control" type="text" name="activity[event]" placeholder="Upload" >
    <br>
    <button class="btn btn-primary">Add Details</button>
  </form>

  <br>

</div>


</div>


<%= button_to 'Delete Activity', activity_path(@activity.id), :method => 'delete' %>
