<div class="jumbotron">
<h1><%= @activity.event %></h1>
</div>

<h2>January 2016</h2>

<div class="col-sm-6">
  <h1>Comming Soon:</h1>
  <h3>Add Details About Your Activity</h3>
  <form >
    <label class="form-text text-muted">Date:</label>
    <input class="form-control" type="text" name="activity[event]" placeholder="Jan 12" >

    <label class="form-text text-muted">People:</label>
    <input class="form-control" type="text" name="activity[event]" placeholder="Family" >

    <label class="form-text text-muted">Pictures:</label>
    <input class="form-control" type="text" name="activity[event]" placeholder="Upload" >
    <br>
    <button class="btn btn-primary">Submit</button>
  </form>

  <br>

</div>

<div class="col-sm-6">
  <h1>Your Notes</h1>
  <h4>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et </h4>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  <ul>
    <li>People you were with</li>
    <li>Time Sent</li>
    <li>Most memerable moment</li>
  </ul>
</div>
